*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

.container{
    max-width: 1200px;
    background: none!important;
}

.header{
    background:none!important;
    padding: 0!important;
}

.responsive_img {
    width: 100%;
    height: auto;
    display: block;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.headerBackground{
   background: none!important;
 }


.jumbotron{
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;
}

.navbar{
    border-radius: 5px;
}

.dropdown-menu{
    width: 330px;
}

.dropdown-toggle{
    margin: 0;
    line-height: 35px;
}

.dropdown-form{
    margin: 10px;
}

.context {
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0px;
    padding: 1px;
}

.context-item {
    display: inline-flex;
    border-radius: 5px;
    margin: 10px;
    background-color: #e9ecef;
    padding: 10px;
}

.footerBackground{
    background-color: #f8f9fa!important;
}

.footerBackground p{
    color: #212529;
}

.minus, .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor:pointer;
}

.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}